.form{
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.contatoInfo{
    position: relative;
    display: flex;
    width: 40%;
    padding: 10px;
    background-color: #4091EC;
    flex-direction: column;
}

.infoTitle,
.infoItens{
    position: relative;
    z-index: 2;
    color: #fff;
}

.infoTitle{
    margin-bottom: 60px;
}
.infoTitle span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.infoTitle h2{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

.infoItens p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.infoItens p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.infoItens p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}

form.formContato{
    width: 60%;
    padding: 30px 40px;
}

form.formContato h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.formContato .userInfo{
    display: flex;
    flex-direction: column;
}

form.formContato label{
    font-weight: bold;
}

form.formContato input,
form.formContato textarea,
form.formContato select{
    width: 100%;
    padding: 8px 0px 5px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

	color: #5A5A5A;
	font-size: 14px;
	font-weight: bold;
} 

form.formContato textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.formContato input[type="button"]{
    width: 100%;
	background: #4091EC;
	padding: 10px;
	border: none;
    margin-top: 10px;

    color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

form.formContato input[type="button"]:hover{
    background: #3371B6;
}

@media screen and (min-width: 900px) {
    form.formContato h2{
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 899px) {
    .form{
        display: flex;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .contatoInfo{
        display: none;
    }
    .form{
        width: 100%;
        height: 100%;
    }
    form.formContato h2{
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 30px;
    }
    form.formContato input,
    form.formContato textarea,
    form.formContato select{
    width: 100%;
    padding: 8px 0px 5px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

	color: #5A5A5A;
	font-size: 14px;
	font-weight: bold;
    } 
    
    form.formContato{
    width: 100%;
    padding: 30px 40px;
}
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}
